
<ul class="main-menu">
      <li routerLink="/home" ><i routerLinkActive="active" class="fa fa-home" aria-hidden="true"></i></li>
      <li routerLink="/personel-info" ><i routerLinkActive="active" class="fa fa-user" aria-hidden="true"></i></li>
      <li routerLink="/professional-info" ><i routerLinkActive="active" class="fa fa-graduation-cap" aria-hidden="true"></i></li>
      <li routerLink="/contact" ><i routerLinkActive="active" class="fa fa-envelope" aria-hidden="true"></i></li>
</ul>
<ul class="main-menu mar-menu">
      <li ><a href="https://www.linkedin.com/in/rohan-singh-86b983135/" target="blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      <li ><a href="https://www.facebook.com/" target="blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/login?lang=en" target="blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
</ul>
