<div class="main-section pad-main-section scrollbar scrollbar-default">
    <div>
        <h2>Contact</h2>
    </div>
    <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12 main-cont mar-cont">
        <div class="col-sm-4 col-xs-4 col-lg-4 col-md-4 ">
            <div class="contact-box">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <div class="box-data">Pune, Maharastra</div>
            </div>
            <div class="contact-box">
                <i class="fa fa-phone-square" aria-hidden="true"></i>
                <div class="box-data">8931950403</div>
            </div>
            <div class="contact-box">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <div class="box-data">rohancs0077@gmail.com</div>
            </div>
        </div>
        <div class="col-sm-8 col-xs-8 col-lg-8 col-md-8">
            <div class="title-contact">
                How Can I Help You?
            </div>
            <div class="form-group user-input-wrp">
                <input class="form-field inputText" type="text" required>
                <span class="floating-label">Full Name</span>
            </div>
            <div class="form-group user-input-wrp">
                <input class="form-field inputText" type="text" required>
                <span class="floating-label">Email Address</span>
            </div>
            <div class="form-group user-input-wrp">
                <input class="form-field inputText" type="text" required>
                <span class="floating-label">Subject</span>
            </div>
            <div class="form-group user-input-wrp">
                <textarea class="form-field-text inputText" name="Message" id="message" cols="30" rows="20" required></textarea>
                <span class="floating-label">Message</span>
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Send message">
            </div>
        </div>
    </div>
</div>
